/************************ELEMENTS************************/

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100vw;
    max-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('image/header.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 20rem;
    width: auto;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
}

h3 {
    font-family: 'Rubik', sans-serif;
}

h2 {
    font-family: 'Rubik', sans-serif;
}

p {
    font-family: 'Nunito', sans-serif;
}

label {
    font-family: 'Nunito', sans-serif;
}

video {
    width: 60rem;
}

main {
    background-color: #FBF2C0;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

hr {
    border: 3px solid #48392A;
    width: 100rem;
    overflow: hidden;
}

footer {
    background-color: #48392A;
    padding: 2rem;
}


/************************HEADER************************/

.flex-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.flex-title {
    display: flex;
    justify-content: center;
}

.title {
    color: #48392A;
    font-size: 400%;
}

.nav-flex {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

.nav-style {
    text-decoration: none;
    color: white;
    font-size: 100%;
}

/************************MAIN************************/



.index-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 150%;
    margin-left: 5rem;
    margin-right: 5rem;
}

.index-flex {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.text-index {
    font-size: 150%;
    width: 60rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    outline: none;
    margin:  1rem;
    box-shadow: 0 0 30px black;
}

.img-main {
    display: flex;
    flex-direction: column;
    width: 60rem;   
}

.img-index {
    outline: none;
    margin:  1rem;
    box-shadow: 0 0 30px black;
}


/************************FOOTER************************/

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    height: 10rem;
}

.title-footer {
    color: white;
}

.escalade {
    border-radius: 50px;
    margin-bottom: 1rem;
}

.escalade {
    width: 5rem;
    height: auto;
}

.social {
    display: flex;
    justify-content: space-around;
}

.nav-footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100rem;
    height: 10rem;
}

.nav-style-footer {
    text-decoration: none;
    color: white;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fa-brands {
    color: white;
    font-size: 2rem;
    width: 2rem;
}

.top {
    text-decoration: none;
    padding: 10px;
    color: #fff;
    background: #000000;
    border-radius: 100px;
    position: sticky;
    bottom: 20px;
}


/************************BUTTON************************/

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #FFFF;
    border-radius: 0.6em;
    color: #FFFF;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    background: #48392A;
    overflow: auto;
  }

  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }
  
  .first {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .first:hover {
    box-shadow: 0 0 40px 40px #da7929 inset;
  }

/************************HISTOIRE************************/

.body-histoire h2 {
    font-weight: bold;
}

.histoire {
    font-size: 125%;
}

.histoire-flex {
    display: flex;
    margin: 4rem;
    align-items: flex-end;
    
}

.img-histoire1 {
    width: 14rem;
    
    margin-bottom: 1rem;
    margin-right: 3rem;
    box-shadow: 0 0 30px black;
}

.img-histoire2 {
    width: 14rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    box-shadow: 0 0 30px black;
}

.img-histoire3 {
    width: 12rem;
    margin-bottom: 1rem;
    margin-right: 3rem;
    box-shadow: 0 0 30px black;
}


.img-histoire4 {
    width: 16rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    box-shadow: 0 0 30px black;
}

.img-histoire5 {
    width: 16rem;
    margin-bottom: 1rem;
    margin-right: 3rem;
    box-shadow: 0 0 30px black;
}

/************************ACTUALITES************************/
.news-main p {
    font-size: 125%;
    margin-right: 4rem;
}

.flex-news {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.img-news1 {
    width: 30rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

.news-row {
    display: flex;
}

.center-title {
    display: flex;
    justify-content: center;
}

.separate {
    margin: 4rem 4rem;
    box-shadow: 0 0 30px black;
    border-radius: 25px;
    background-color: #48392A;
    color: white;
}


/************************PERSONNALITES************************/
.main-personnalite {
    max-width: 100vw;
    padding-top: 1rem;

}

.flex-grimpeur {
    display: flex;
    justify-content: space-evenly;
}

.article-personnalite {
    font-size: 125%;
}

.bold {
    font-weight: bold;
}

.img-flex {
    display: flex;
    align-items: center;
    width: 50rem;
    margin: 1rem;
}

.img-personnalite1 {
    width: 12rem;
    margin-right: 1rem;
}

.list-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/************************COMPETITIONS************************/
.article-compet {
    display: flex;
    width: 100vw;
    height: auto;
    font-size: 125%;
}

.flex-compet {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    margin: 3rem;
    padding: 3rem;
    width: 60rem;
    border: 2px solid black;
    background-color: #48392A;
    color: beige;
    border-radius: 25px;
    box-shadow: #000000;
    transition: box-shadow 0.3s ease-in-out;
}

.flex-compet:hover {
    box-shadow: 30px -16px black;
    
}

.article-style {
    font-size: 125%;
    width: 100vw;
}

.flex-diff {
    display: flex;
}

.compet-margin {
    margin: 3rem;
    width: 60rem;
}

.compet-title {
    display: flex;
    justify-content: center;
    font-size: 200%;
}

/************************LIENS************************/

.content-link {
    width: 100vw;
}

.flex-link {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;
}


.video {
    display: flex;
    padding-bottom: 2rem;
    justify-content: space-evenly;
}


.video1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #48392A;
    border-radius: 25px;
    width: 60rem;
    height: 35rem;
}

.video2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #48392A;
    border-radius: 25px;
    width: 60rem;
    height: 35rem;
}

.video-size {
    width: 50rem;
    border-radius: 25px;
}

.link-style {
    margin-top: 2rem;
}

.link {
    text-decoration: none;
    color: white;
    background-color: #48392A;
    border-radius: 25px;
    padding: 12px;
    margin: 1rem;
}
/************************CONTACT************************/

.container {
    background-color: grey;
    margin-left: 10rem;
    margin-right: 10rem;
    border-radius: 25px;
    display: flex;
}

.form-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100vw;
    padding: 1rem;
}

input[type=text],select, textarea {
    border-radius: 10px;
    width: 80rem;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 5px solid black;
    border-right: 3px solid black;
}

input[type=email] {
    border-radius: 10px;
    width: 80rem;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 5px solid black;
    border-right: 3px solid black;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #48392A;
    width: 80rem;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    border-radius: 10px;
    margin: 4px 2px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    box-shadow: 5px 10px 20px black;
  }
  
label {
    font-size: 115%;
}


/************************SLIDE************************/
.slide-right {
    width:100%;
    overflow:hidden;
}
.slide-right {
    animation: 5s slide-right;
}
  
@keyframes slide-right {
    from {
      margin-left: -50%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}